{% trans %}
<div class="an_image_toggler__component">
    <p> {{ title }}</p>
    <div class="an_image_toggler__image">
        <img src="{{ img1 }}">
    </div>
    <div class="an_image_toggler__body">
        {{ body }}
    </div>
    <div class="an_image_toggler__image">
        <img src="{{ img2 }}">
    </div>
    <div class="an_image_toggler__button">
        <button type="button">Click Me</button>
    </div>
</div>
{% endtrans %}
